snippet sep
	/*
	|--------------------------------------------------------------------------
	| ${0}
	|--------------------------------------------------------------------------
	*/

snippet tostring
	public function __toString()
	{
		return "${0}";
	}
